{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
    <h1 style="text-align:center;">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="row">
        <div class="text-center">
    		<img style="aling:center;" class="tilde" src="{% static 'imagenes/tilde.png'%}">
    	</div>
    </div>
    <h4 style="text-align:center;">Te hemos enviado un correo electrónico  
        {% if user.is_authenticated %}a <b>{{user.email }}</b>{% endif%}. Por favor contáctanos si no recibes el correo en unos minutos.</h4>
    <br>
    <div class="text-center">
    	<a class="btn btn-success btn-lg" href="/accounts/login/" role="button">{% trans "Aceptar" %}</a>
    </div>
</div>
<br><br><br><br>
{% endblock %}
