{% load crispy_forms_tags %}
<div class="modal-dialog" role="document">
	<div class="modal-content">
		{% if object %}
		<form role="form" action="{% url 'productos:modificar_producto' object.pk %}" method="post" enctype="multipart/form-data">
		{% else %}
		<form role="form" action="{% url 'productos:crear_producto' %}" method="post" enctype="multipart/form-data">
		{% endif %}
		<div class="modal-header" style="background-color: #337FB7; border-color:#2e6da4; color:#fff;">
            <button type="button" class="close" data-dismiss="modal">x</button>
            {% if not object %}
            <h3 style="text-align: center">Nuevo Producto {{ producto.nombre }}</h3>
            {% else %}
            <h3 style="text-align: center">Modificar Producto {{ producto.nombre }}</h3>
            {% endif %}
        </div>
			<div class="modal-body">
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-body">
						{{ form|crispy }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-lg-12 text-right">
					<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
					<button type="button" class="btn btn-default" onclick="return cerrar_modal()">
						Cancelar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
