{% load staticfiles %}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url({% static 'imagenes/dewalt.png' %});"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({% static 'imagenes/ferrum.jpg' %});"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({% static 'imagenes/sigas.png' %});"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({% static 'imagenes/acqua.jpg' %});"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({% static 'imagenes/rotelite.jpg' %});"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({% static 'imagenes/IPS.jpg' %});"></div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>