{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/">Inicio</a>
                </li>
                <li class="active">Mis Datos</li>
            </ol>
        </div>
    </div>
	{% for message in messages %}
		<div class="alert {{ message.tags }} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  	<span aria-hidden="true">&times;</span>
			</button>		
			{{ message }} 
		</div>
	{% endfor %}	
    <h1 style="text-align:center">{% trans "Mi Perfil:" %}</h1>
  	<hr>
	<div class="row">  
		<!-- left column -->
		<div class="col-md-3">
			<div class="text-center">
				<img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
			</div>
			<br>
			<div class="panel panel-info">
	            <div style="text-align:center" class="panel-heading"><b>Ajustes de cuenta</b></div>
	            <ul class="list-group">
					<a href="{% url 'edit-profile'%}" style="text-align:center" class="list-group-item">Actualizar mis datos</a>
  					<a href="#" style="text-align:center" class="list-group-item">Inventario</a>
  					<a href="/" style="text-align:center" class="list-group-item">Volver al inicio</a>
				</ul>
	       	</div>
		</div>     
	    <div>
	       	<h3>Datos Personales</h3>
	    </div>
	    <br>
	    <div class="col-md-8 personal-info">
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>USUARIO</b></div>
	            <div class="panel-body"> {{user.username}}
	            </div>
	       	</div>
	        <div class="panel panel-default">
	            <div class="panel-heading"><b>NOMBRE</b></div>
	            <div class="panel-body"> {{user.first_name}}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>APELLIDO</b></div>
	            <div class="panel-body"> {{user.last_name}}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>TELÉFONO FIJO</b></div>
	            <div class="panel-body"> {{user.userprofile.telefono_fijo}}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>TELÉFONO MÓVIL</b></div>
	            <div class="panel-body"> {{user.userprofile.telefono_movil}}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>EDAD</b></div>
	            <div class="panel-body"> {{user.userprofile.edad}}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>FECHA DE NACIMIENTO</b></div>
	            <div class="panel-body"> {{user.userprofile.fecha_nacimiento}}
	            </div>
	       	</div>
	    </div>
  	</div>
</div>

{% endblock %}
<!--<div class="container">
	<a href="mailto:info@support.com">info@support.com</a></td>
	{% for message in messages %}
		  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>		
		    {{ message }} 
		  </div>
	{% endfor %}
</div>
    <div class="col-md-4 col-md-offset-4">
        
        <h1 style="text-align:center">{% trans "Mi Perfil:" %}</h1>
		<h2 style="text-align:center">Datos Personales</h2>
		<ul>
			<li>Usuario: {{ user.username }}</li>
			<li>Nombre: {{ user.first_name }}</li>
			<li>Apellido: {{ user.last_name }}</li>
		  	<li>Teléfono Fijo: {{ user.userprofile.telefono_fijo }}</li>
		  	<li>Teléfono Móvil: {{ user.userprofile.telefono_movil }}</li>
		  	<li>Edad: {{ user.userprofile.edad }}</li>
		  	<li>Fecha de nacimiento: {{ user.userprofile.fecha_nacimiento }}</li>
		  	<li>Dirección: {{ user.userprofile.direccion }}</li>
		</ul>
	</div>-->