{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/">Inicio</a>
                </li>
                <li class="active">Cuenta</li>
            </ol>
        </div>
    </div>
	{% for message in messages %}
		<div class="alert {{ message.tags }} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  	<span aria-hidden="true">&times;</span>
			</button>		
			{{ message }} 
		</div>
	{% endfor %}	
    <h1 style="text-align:center">{% trans "Mi Perfil:" %}</h1>
  	<hr>
	<div class="row">  
		<!-- left column -->
		<div class="col-md-3">
			<div class="text-center">
				<img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
			</div>
			<br>
			<div class="panel panel-info">
	            <div style="text-align:center" class="panel-heading"><b>Ajustes de cuenta</b></div>
	            <ul class="list-group">
					<a href="{% url 'edit-profile'%}" style="text-align:center" class="list-group-item">Actualizar mis datos</a>
  					<a href="#" style="text-align:center" class="list-group-item">Inventario</a>
  					<a href="{% url 'account_change_password' %}" style="text-align:center" class="list-group-item">Cambiar contraseña</a>
  					<a href="{% url 'account_email' %}" style="text-align:center" class="list-group-item">Editar correo electrónico</a>
  					<a href="/" style="text-align:center" class="list-group-item">Volver al inicio</a>
				</ul>
	       	</div>
		</div>     
	    <div>
	       	<h3>Datos Personales</h3>
	    </div>
	    <br>
	    <div class="col-md-8 personal-info">
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>USUARIO</b></div>
	            <div class="panel-body"> {{user.username}}
	            </div>
	       	</div>
	        <div class="panel panel-default">
	            <div class="panel-heading"><b>NOMBRE</b></div>
	            <div class="panel-body"> {{user.first_name}}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>APELLIDO</b></div>
	            <div class="panel-body"> {{user.last_name}}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>EMAIL</b></div>
	            <div class="panel-body">
	            <a href="mailto:{{user.email}}"><b>{{user.email}}</b></a></td>
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>TELÉFONO FIJO</b></div>
	            <div class="panel-body">
	            {% if user.userprofile.telefono_fijo %}
	            	{{user.userprofile.telefono_fijo}}
	            {% else %}
	            	No registra ningún teléfono fijo ingresado
	            {% endif%}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>TELÉFONO MÓVIL</b></div>
	            <div class="panel-body">
	            {% if user.userprofile.telefono_movil %}
	            	{{user.userprofile.telefono_movil}}
	            {% else %}
	            	No registra ningún teléfono fijo móvil
	            {% endif%}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>EDAD</b></div>
	            <div class="panel-body">
	            {% if user.userprofile.edad %}
	            	{{user.userprofile.edad}}
	            {% else %}
	            	No registra edad ingresada
	            {% endif%}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>FECHA DE NACIMIENTO</b></div>
	            <div class="panel-body">
	            {% if user.userprofile.fecha_nacimiento %}
	            	{{user.userprofile.fecha_nacimiento}}
	            {% else %}
	            	No registra fecha de nacimiento ingresada
	            {% endif%}
	            </div>
	       	</div>
	       	<div class="panel panel-default">
	            <div class="panel-heading"><b>Dirección</b></div>
	            <div class="panel-body">
	            {% if user.userprofile.direccion %}
	            	{{user.userprofile.direccion}}, {{user.userprofile.localidad}}, {{user.userprofile.localidad.departamento}}, {{user.userprofile.localidad.departamento.provincia}} 
	            {% else %}
	            	No registra dirección ingresada
	            {% endif%}
	            </div>
	       	</div>

	    </div>
  	</div>
</div>
<br><br>
{% endblock %}
