<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h3>Producto: {{ object.descripcion }}</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-4">
					<label>Categoría</label>
					<p>{{ object.categoria }}</p>
					<label>Nombre</label>
					<p>{{ object.nombre }}</p>
					<label>Marca:</label>
					<p>{{ object.marca }}</p>
					<label>Precio:</label>
					<p>{{ object.precio }}</p>
					<label>Cantidad:</label>
					<p>{{ object.cantidad }}</p>
			</div>
		</div>
		<div class="modal-footer">
			<div class="col-lg-12 text-right">
				<button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div>
